body {
  background: #262626;
}

.App {
  color: rgb(186, 223, 255);
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  max-width: 300px;
}

.App-header,
h1,
.logo-header {
  text-align: center;
  font-size: 35px;
  font-family: "Archivo";
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: rgb(127, 127, 127);
  font-family: "Bodani";
}

.Synonyms {
  display: block !important;
  visibility: visible;
  color: rgb(10, 84, 158) !important; /* Ensure text is visible */
  list-style: none;
  font-size: 16px;
  padding: 10px;
}
