.App {
  text-align: center;
}

.App-logo {
  max-width: 300px;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: rgb(48, 48, 48);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: rgb(127, 127, 127);
  font-family: "Bodani";
}
