.Meaning {
  line-height: 1.5;
}

.Meaning h3 {
  font-size: 24px;
  font-weight: 400px;
  text-transform: capitalize;
}

.Meaning .example {
  font-size: 13px;
  opacity: 0.7;
  font-style: italic;
  margin: 5px;
}
